body {
  background-color: rgb(14, 14, 15);
}
.a {
  width: 400px;
  height: 500px;
  margin: 50px auto;
  position: relative;
}
.b {
  width: 2px;
  height: 30px;
  border-left: 136px solid transparent;
  border-right: 132px solid transparent;
  border-bottom: 246px solid #b0712a;
  position: absolute;
  top: -1%;
  right: 15%;
  border-radius: 10px;
}
.c {
  position: absolute;
  width: 242px;
  height: 120px;
  transform: translate(-125px, 279px);
  border-radius: 0 0 172px 165px;
  background-color: rgb(197, 184, 149);
  transition: all 2s ease-in-out 20ms;
}
.ch {
  width: 47px;
  height: 64px;
  position: absolute;
  z-index: -1;
  border-radius: 4px;
  transform: translate(102px, -267px);
  background-color: rgb(14, 14, 15);
}
.c:hover {
  box-shadow: 0px 10px 1000px 2px #e2dbd3;
  background-color: rgb(219 205 37);
}
